@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes reverse-circle {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loading {
  0%, 80%, 100% {
    height: 20px;
    box-shadow: 0 0px #fff;
  }
  40% {
    height: 30px;
    box-shadow: 0 -20px #fff;
  }
}
@keyframes loading-hover {
  0%, 80%, 100% {
    height: 20px;
    box-shadow: 0 0px #000;
  }
  40% {
    height: 30px;
    box-shadow: 0 -20px #000;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container .small-circle {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.container .small-circle .load-ani {
  width: 6px;
  height: 10px;
  background-color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loading infinite 1s ease-in-out -0.2s;
}
.container .small-circle .load-ani::before, .container .small-circle .load-ani::after {
  content: "";
  width: 6px;
  height: 10px;
  background-color: #fff;
  position: absolute;
}
.container .small-circle .load-ani::before {
  left: -14px;
  animation: loading infinite 1s ease-in-out -0.4s;
}
.container .small-circle .load-ani::after {
  right: -14px;
  animation: loading infinite 1s ease-in-out;
}
.container .small-circle:hover {
  background-color: #fff;
  color: #000;
}
.container .small-circle:hover > .load-ani {
  background: #000;
  animation: loading-hover infinite 1s ease-in-out -0.2s;
}
.container .small-circle:hover > .load-ani::before, .container .small-circle:hover > .load-ani::after {
  content: " ";
  background-color: #000;
}
.container .small-circle:hover > .load-ani::before {
  animation: loading-hover infinite 1s ease-in-out -0.4s;
}
.container .small-circle:hover > .load-ani::after {
  animation: loading-hover infinite 1s ease-in-out;
}
.container .small-circle:hover + .big-circle {
  background-color: #fff;
  animation: reverse-circle 1s linear 0s infinite;
  box-shadow: 0 -20px 200px 0px #fff, 0 20px 200px 0px #fff;
}
.container .small-circle:hover + .big-circle::before {
  background: linear-gradient(#000, #000, rgba(0, 0, 0, 0.495), #fff);
  box-shadow: none;
  transform: translate(-50%, 0%) rotate(-45deg);
}
.container .small-circle:hover + .big-circle::after {
  background: linear-gradient(#000, #000, rgba(0, 0, 0, 0.495), #fff);
  box-shadow: none;
  transform: translate(-50%, 0%) rotate(135deg) scaleX(-1);
}
.container .big-circle {
  width: 300px;
  height: 300px;
  background-color: #000;
  border-radius: 50%;
  transform: rotate(0deg);
  position: relative;
  overflow: hidden;
  box-shadow: 0 -20px 100px 0px #faa, 0 20px 100px 0px #aaf;
  animation: circle 1s linear 0s infinite;
}
.container .big-circle::before {
  content: " ";
  width: 200px;
  height: 200px;
  background: linear-gradient(#faa, #faa, rgba(255, 170, 170, 0.495), #000);
  box-shadow: 0 100px 100px 0px #faa;
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(135deg);
}
.container .big-circle::after {
  content: " ";
  width: 200px;
  height: 200px;
  background: linear-gradient(#aaf, #aaf, rgba(170, 170, 255, 0.495), #000);
  box-shadow: 0 100px 100px 0px #aaf;
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}/*# sourceMappingURL=loading v2.css.map */